<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> -->
<suite name="Noah物联网平台">
  <test name="系统管理">   <!-- thread-count="5"  -->
    <classes>
        <!--<class name="com.tbl.test.selenium.LoginTest"/>
        <class name="com.tbl.test.selenium.test.SuiteConfig"/>-->
        <class name="com.tbl.test.selenium.test.TestDeviceManagement"/>


        <!--<class name="com.tbl.test.selenium.test.TestSystemManagement"/>

            <class name="com.tbl.test.selenium.test.NewTest2"/>
            <class name="com.tbl.test.selenium.UserPageTest"/>
            <class name="com.tbl.test.selenium.AppTest"/>
            <class name="com.tbl.test.api.AppTest"></class>
        -->
    </classes>
    <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter" />
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
  </test>
    <!--    <test name="设备管理">
        <classes>
          <class name="com.tbl.test.selenium.test.SuiteConfig"/>
          <class name="com.tbl.test.selenium.test.TestDeviceManagement"  />
        </classes>
    <listeners>
          <listener class-name="org.uncommons.reportng.HTMLReporter" />
          <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
       </listeners>
      </test>
        -->
</suite>
